---
import Layout from "../layouts/Layout.astro";
import { entriesByType } from "../fetch/contentful";
const post = Astro.props.post;
const image = post.mainImage.fields;

export async function getStaticPaths() {
  const posts = await entriesByType("post");
  const params = posts.map((post) => {
    return { params: { slug: post.fields.slug }, props: { post: post.fields } };
  });
  return params;
}
---

<Layout
  title="Astro sandbox"
  description="Jumping off point for Astro starter to see what it's all about!"
  imageURL={image.file.url}
>
  <main>
    <h1>{post.title}</h1>
    <img src={image.file.url} width={image.file.details.width} />
    <article set:html={post.body}></article>
  </main>
</Layout>
